/*分类*/

/*头部*/
.hdWraper
  .m-hd
    position fixed
    left 0
    top 0
    z-index 5
    width 100%
    .m-itemCateListHd
      display flex
      align-items center
      height 1.17rem
      padding 0 .4rem
      background-color #fff
      position relative
      .m-topSearchIpt
        width 100%
        display flex
        flex-flow row nowrap
        align-items center
        justify-content center
        height .74rem
        font-size .37rem
        background-color #ededed
        border-radius .1rem
        .icon
          display inline-block
          vertical-align middle
          background url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png)
          background-size 100% 100%
          width .37rem
          height .37rem
          margin-right .13rem
        .placeholder
          color #666
          font-size .27rem
/*左侧导航*/
.m-cateNavVertWrap
  top 1.1rem
  position fixed
  bottom 0
  z-index 4
  width 2.16rem
  background-color #fff
  .item
    width 100%
    height .6rem
    text-align center
    border none
    &.active
      border-left .01rem
      background-color #ab2b2b

