/*封面*/
.interlayer
  width 100%
  height 100%
  background #eee
  .g-bd
    .g-row
      position relative
      img
        vertical-align top
        width 100%
      .downloadBtn
        text-indent -99rem
        width 4.32rem
        height .98rem
        left 1.55rem
        top .96rem
        position absolute
        display block
      .backWapBtn
        width 2.54rem
        height .3rem
        position absolute
        left 50%
        transform translateX(-50%)
        top 53%
        text-indent -99rem
